<div class="text-danger" *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngIf="control.errors.required" class="label label--danger">
        This field is required
    </div>
    <div *ngIf="control.errors.unique" class="label label--danger">
        {{ control?.errors.unique }}
    </div>
    <div *ngIf="control.errors.lessThen" class="label label--danger">
        {{ control.errors.lessThen }}
    </div>
    <div *ngIf="control.errors.greaterThan" class="label label--danger">
        {{ control.errors.greaterThan }}
    </div>
    <div *ngIf="control.errors.min" class="label label--danger">
        Mininum value allowed is {{ control.errors.min.min }}
    </div>
    <div *ngIf="control.errors.max" class="label label--danger">
        Maxium value allowed is {{ control.errors.max.max }}
    </div>
    <div *ngIf="control.errors.email" class="label label--danger">
        Invalid Email
    </div>
    <div *ngIf="control.errors.mobile" class="label label--danger">
        {{ control.errors.mobile }}
    </div>
    <div *ngIf="control.errors.confirmPassword" class="label label--danger">
        {{ control.errors.confirmPassword }}
    </div>
    <div *ngIf="control.errors.phoneNumber" class="label label--danger">
        Invalid phone number
    </div>
    <div *ngIf="control.errors.notANumber" class="label label--danger">
        Value must be a number
    </div>
    <div *ngIf="control.errors.maxlength" class="label label--danger">
        <!-- Maxium length value allowed is {{ control.errors.maxlength.requiredLength}}  -->
        Percentage can't be more then 4 digits!
    </div>
    <!-- <div *ngIf="control.errors">
        {{ JSON.stringify(control.errors)}}
    </div> -->
</div>