.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    // & > div {
    //     width: 100%;
    //     height: 100%;
    // }
}